<mat-toolbar>
  <span>MEAN TODO LIST</span>
</mat-toolbar>

<mat-list *ngIf="todos != undefined && todos.length" role="list">
  <mat-list-item
    *ngFor="let todo of todos; last as last"
    (mouseenter)="deleteButton.disabled = false"
    (mouseleave)="deleteButton.disabled = true">
    <p mat-line>{{ todo.name }}</p>
    <button
      mat-icon-button
      #deleteButton
      disabled="true"
      (click)="deleteTodo(todo.id)"
      aria-label="Delete todo"
      role="button">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
</mat-list>

<p *ngIf="todos == undefined || !todos.length">We did not find any todos</p>

<br />

<mat-form-field class="full-width" appearance="fill">
  <mat-label>Write todo</mat-label>
  <input
    matInput
    (keyup.Enter)="onTodoSubmit($event)"
    maxlength="256"
    placeholder="Write something you want to accomplish..." />
</mat-form-field>
